[submodule "baseline/sources/transpile/zod"]
	path = crates/e2e/fixture/ecosystem/zod
	url = https://github.com/colinhacks/zod
	shallow = true
[submodule "baseline/sources/transpile/TypeScript"]
	path = crates/e2e/fixture/ecosystem/TypeScript
	url = https://github.com/Microsoft/TypeScript
	shallow = true
[submodule "crates/e2e/fixtures/ecosystem/swc"]
	path = crates/e2e/fixture/ecosystem/swc
	url = https://github.com/swc-project/swc
[submodule "crates/e2e/fixture/ecosystem/ts-blank-space"]
	path = crates/e2e/fixture/ecosystem/ts-blank-space
	url = https://github.com/bloomberg/ts-blank-space
[submodule "crates/e2e/fixture/ecosystem/pnpm"]
	path = crates/e2e/fixture/ecosystem/pnpm
	url = https://github.com/pnpm/pnpm
[submodule "crates/e2e/fixture/ecosystem/babel"]
	path = crates/e2e/fixture/ecosystem/babel
	url = https://github.com/babel/babel
